
:root {
    /* --body-colour: rgb(173, 226, 230); */
    --navbar-accent-colour: #90ee90;
    --navbar-bg-colour: #333;
    --navbar-text-colour: #f2f2f2;

    /* https://colorhunt.co/palette/1fab8962d2a29df3c4d7fbe8 */
    --body-colour: #D7FBE8;
    --about-colour: #9DF3C4;
    --projects-colour: #62D2A2;
    --contact-colour: #1FAB89;

    /* https://colorhunt.co/palette/344d676eccafade792f3ecb0 */
    /* --body-colour: #344D67;
    --about-colour: #6ECCAF;
    --projects-colour: #ADE792;
    --contact-colour: #F3ECB0; */

    /* https://colorhunt.co/palette/defbc290d26d459d72342b2b */
    /* --body-colour: #DEFBC2;
    --about-colour: #90D26D;
    --projects-colour: #459D72;
    --contact-colour: #1FAB89; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    margin: 0;
    font-family: monospace;

    /* background-color: rgb(173, 226, 230); */
    background-color: var(--body-colour);
}


/* NAVBAR */

.navbar {
    background-color: var(--navbar-bg-colour);
    overflow: hidden;
    margin: auto;
    width: 100%;
    position: fixed;
    top: 0px;

    z-index: 1;
}

.spacing {
    visibility: hidden;
}

.navbar a {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    padding: 0.5em;
    font-weight: 400;
    color: var(--navbar-text-colour);
    text-decoration: none;
}

.navbar a:hover {
    background-color: var(--about-colour);
    color: black
}

.header-github, .header-linkedin {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.fa-github, .fa-linkedin {
    padding: 8px;
}



/* HERO */

.hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 10px;
    
    margin-top: 5rem; 
    margin-left: 5rem;
    margin-right: 5rem;
}

.hero-bg-image{
    background-image: url("../images/cluster.png");
    background-size: auto;
    background-repeat: no-repeat;

    padding-top: 10rem;
    padding-bottom: 22rem;
}

.hero-container {
    display: grid;
    place-content: center;
    text-align: center;

    /* background-color: lightcyan; */
    background-color: white;

    height: 27em;
    transform: translateY(12px);

    box-shadow: 2px 1px 2px gray;
}

.hero-text {
    font-size: 54px;
    position: relative;
    width: max-content;
}

.hero-text::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* background-color: lightcyan; */
    background-color: white;
    animation: write 2.5s steps(14) 1s forwards;
}

.hero-subtext {
    font-size: 24px;
    opacity: 0;
    animation: fade-in 3.5s ease 4s forwards;
}

.main-container {
    max-width: 1700px;
    margin: auto;
    display: grid;
}

.about {
    background-color: var(--about-colour);
    padding: 1em;
}

.about-header, .projects-header, .contact-header {
    font-size: 30px;
}

.hero-container, .about, .projects, .contact {
    border-radius: 0.25em;
}

.projects {
    background-color: var(--projects-colour);
    padding: 1em;
}


.about > p, .projects > p, .contact > p {
    font-size: 20px;
}

/* Removing the colour and text decoration from visiting links */
.coursework-github, .coursework-github:visited, .coursework-github:active {
    color: inherit;
}

.contact-box > a, .contact-box > a:visited, .contact-box > a:active {
    color:inherit;
}

.coursework-github {
    text-decoration: none;
    padding-right: 0.5em;
}

.text-link {
    text-decoration: none;
    color: var(--body-colour)
}

.text-link:hover {
    background-color: var(--body-colour);
    color: black;
}

.ulist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

li {
    font-size: 18px;
}



/* CONTACT */

.contact {
    background-color: var(--contact-colour);
    padding: 1em;
}

.about, .projects, .contact {
    margin-top: 4em;
    box-shadow: 6px 5px 4px gray;
}

.contact-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

    outline: 2px solid black;
}

.contact-box > * {
    outline: 1px solid black;
    margin: 0;
}

.contact-box > p {
    outline: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}


/* FOOTER */

footer {
    background-color: var(--navbar-bg-colour);
    color: var(--navbar-text-colour);
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    margin-top: 4em;
    padding: 0.75em;
}


/* KEYFRAMES */

@keyframes write {
    to { left: 100%; }
}

@keyframes fade-in {
    to { opacity: 1; }
}

